<!-- Your features code -->
<div class="wrapper features">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-3">
        <%= cl_image_tag("verr3_sinlgy ", height: 100, width: 100, crop: :fill) %>
        <h3>Tous les cocktails</h3>
        <p>The world is your new home.</p>
      </div>
      <div class="col-xs-6 col-sm-3">
      <%= cl_image_tag("verr4_xyxr94 ", height: 100, width: 100, crop: :fill) %>
        <h3>A faire a la maison</h3>
        <p>No cash issues anymore.</p>
      </div>
      <div class="col-xs-6 col-sm-3">
        <%= cl_image_tag("verr3_sinlgy ", height: 100, width: 100, crop: :fill) %>
        <h3>Boire entre potes</h3>
        <p>Discover new culture and lifestyle.</p>
      </div>
      <div class="col-xs-6 col-sm-3">
        <%= cl_image_tag("verre2_y2saja ", height: 100, width: 100, crop: :fill) %>
        <h3>Partager et Aimer</h3>
        <p>Join a community you will love</p>
      </div>
    </div>
  </div>
</div>
